/*  SWEET & EASY */
$baseColor: #FFF;
$cardColor: #F4F4F4;
$linePrimaryColor: #067DFF;
$lineSecondColor: #D22B70;

/*LAYOUT*/
$appWidth: 80%;
$cardWidth: 400px;

$appHeight: 70vh;
$cardHeight: contain;
 